

<div class="mod_header">
  <div class="section_inner">
    <h1 class="qqmusic_title"><%= link_to root_path do%><img srcset="//y.gtimg.cn/mediastyle/yqq/img/logo@2x.png?nowebp=1 2x" src="//y.gtimg.cn/mediastyle/yqq/img/logo.png?nowebp=1" alt="QQ音乐" class="qqmusic_logo"><% end %></h1>
    <!-- 导航 S -->
    <ul class="mod_top_nav" role="nav">
      <li class="top_nav__item">
        <%= link_to '音乐馆',root_path,class: "top_nav__link top_nav__link--current",title: "音乐馆" %>

      </li>
      <li class="top_nav__item">
        <a href="/portal/profile.html" class="top_nav__link" title="我的音乐">我的音乐</a>
      </li>
      <li class="top_nav__item">
        <a href="//y.qq.com/download/index.html" class="top_nav__link" title="客户端" rel="noopener" target="_blank">客户端</a>
      </li>
      <li class="top_nav__item">
        <a href="//y.qq.com/vip/daren_recruit/apply.html" data-stat="y_new.top.darenrecruit" class="top_nav__link js_nav_click" title="音乐号" rel="noopener" target="_blank">音乐号</a>
      </li>
      <li class="top_nav__item">
        <a href="//y.qq.com/portal/vipportal/index.html" class="top_nav__link" title="VIP" rel="noopener" target="_blank">VIP</a>
      </li>
    </ul>
    <ul class="mod_top_subnav" style="display:;">
      <li class="top_subnav__item">
        <a href="//y.qq.com" class="top_subnav__link top_subnav__link--current">首页</a>
      </li>
      <li class="top_subnav__item">
        <a href="/portal/singer_list.html" class="top_subnav__link">歌手</a>
      </li>
      <li class="top_subnav__item">
        <a href="/portal/album_lib.html" class="top_subnav__link">专辑</a>
      </li>
      <li class="top_subnav__item">
        <a href="/n/yqq/toplist/4.html" class="top_subnav__link">排行榜</a>
      </li>
      <li class="top_subnav__item">
        <a href="/portal/playlist.html" class="top_subnav__link">分类歌单</a>
      </li>
      <li class="top_subnav__item">
        <a href="/portal/radio.html" class="top_subnav__link">电台</a>
      </li>
      <li class="top_subnav__item">
        <a href="/portal/mv_lib.html#t6=2" class="top_subnav__link">MV</a>
      </li>
      <li class="top_subnav__item">
        <a href="/portal/album_mall.html" class="top_subnav__link">数字专辑</a>
      </li>
    </ul>
    <!-- 导航 E -->
    <div class="mod_top_search" role="search">
      <div class="mod_search_input">
        <input class="search_input__input" aria-label="请输入搜索内容" type="text" placeholder="搜索音乐、MV、歌单、用户" accesskey="s">
        <button class="search_input__btn"><i class="icon_search sprite"></i><span class="icon_txt">搜索</span></button>
      </div>
      <div class="js_smartbox"><div class="mod_search_other" style="">
        <div class="search_hot">
          <dl class="search_hot__list" aria-labelledy="search_hot__tit">
            <dt class="search_hot__tit">热门搜索</dt>
            <dd>

              <a href="javascript:;" class="search_hot__link js_smartbox_search js_left" data-name="沙漠骆驼">
                <span class="search_hot__number">1</span>
                <span class="search_hot__name">沙漠骆驼</span>
                <span class="search_hot__listen">203.2万</span>
              </a>

              <a href="javascript:;" class="search_hot__link js_smartbox_search js_left" data-name="不染">
                <span class="search_hot__number">2</span>
                <span class="search_hot__name">不染</span>
                <span class="search_hot__listen">55.8万</span>
              </a>

              <a href="javascript:;" class="search_hot__link js_smartbox_search js_left" data-name="38度6">
                <span class="search_hot__number">3</span>
                <span class="search_hot__name">38度6</span>
                <span class="search_hot__listen">52.7万</span>
              </a>

              <a href="javascript:;" class="search_hot__link js_smartbox_search js_left" data-name="目不转睛">
                <span class="search_hot__number">4</span>
                <span class="search_hot__name">目不转睛</span>
                <span class="search_hot__listen">51.9万</span>
              </a>

              <a href="javascript:;" class="search_hot__link js_smartbox_search js_left" data-name="LOST RIVERS">
                <span class="search_hot__number">5</span>
                <span class="search_hot__name">LOST RIVERS</span>
                <span class="search_hot__listen">37.5万</span>
              </a>

            </dd>

          </dl></div>

        <div class="search_history">
          <dl class="search_history__list">
            <dt class="search_history__tit">搜索历史<a href="javascript:;" class="search_history__clear js_smartbox_delete_all"><i class="icon_history_clear"></i><span class="icon_txt">清空</span></a></dt>

            <dd class="search_history__item">
              <a href="javascript:;" class="search_history__link js_smartbox_search js_left" data-name="可不可以">可不可以</a>
              <a href="javascript:;" class="search_history__delete js_smartbox_delete" data-name="可不可以" title="删除"><i class="search_history__icon_delete"></i><span class="icon_txt">删除</span></a>
            </dd>

          </dl>
        </div></div></div></div>
    <div class="header__opt">


      <!-- 未登录 -->
      <span class="mod_top_login">
		    <a class="top_login__link js_logined" href="//y.qq.com/portal/profile.html#stat=y_new.top.user_pic" onclick="setStatCookie&amp;&amp;setStatCookie();" style="display:none;"></a>
                    <a class="top_login__link js_login" data-stat="y_new.top.login" href="javascript:;">
                        登录
                    </a>

                    <a class="login__link header__link js_login" data-stat="y_new.top.login" href="javascript:;">登录</a>
                    <a class="mod_btn_green top_login__btn_vip js_openvip" data-aid="music.pc.20316.newyqqtop" data-stat="music.20316.btnclick.pc" href="javascript:;">开通绿钻豪华版</a>
		    <a class="mod_btn top_login__btn_vip js_openmusic" data-aid="music.pc.20317.newyqqtop" data-stat="music.20317.btnclick.pc" href="javascript:;">开通付费包</a>
                </span>
      <!-- 用户信息 -->
      <div class="popup_user"></div>
    </div>
  </div>
</div>